{erl_opts, [debug_info]}.
{deps, [systemd, telegram_bot_api]}.


{shell, [
    {config, "config/sys.config"},
    {apps, [webhook]}
]}.

% {dist_node, [
%     {name, 'webhook@1.1.1.1'}
% ]}.

{relx, [
    {release, {webhook, "0.3.0"}, [sasl,
        webhook
    ]},
        %% sys.config and vm.args
    % {sys_config, "./config/sys.config"},
    % {vm_args, "./config/vm.args"},
    {dev_mode, false},
    {include_erts, true},
    {include_src, false},
    {generate_start_script, true},
    {extended_start_script, true},
    {extended_start_script_hooks, [{post_start, [wait_for_vm_start]}]}
]}.


{dialyzer, [
        {
            plt_extra_apps, [
                ssl,
                public_key,
                cowlib,
                cowboy,
                ranch
            ]
        }
    ]
}.