[Unit]
Description=Webhook
After=network.target

[Service]
Type=notify
ExecStart=_build/default/rel/webhook/bin/webhook foreground
ExecStop=_build/default/rel/webhook/bin/webhook stop
WatchdogSec=10s
Restart=on-failure

#Environment=ERL_DIST_PORT=6511

[Install]
WantedBy=multi-user.target